= form_for( :sessions, :url => { :controller => 'sessions', :action => 'create'} ) do |f|
  - flash.each do |k,v|
    %p= v
  %table
    %tr
      %th
        = f.label :email
      %td
        = f.text_field :email
    %tr
      %th
        = f.label :password
      %td
        = f.password_field :password
    %tr
      %td
        = f.submit "Log in", :class => 'submit'
  
