= form_for @article do |f|
  -if @article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :abstract
    = f.text_area :abstract
  .field
    = f.label :full_text
    = f.text_area :full_text
  .field
    = f.label :url
    = f.text_field :url
  .actions
    = f.submit 'Save'
