%h1 Listing users
#users-index-wrapper
  %table#users-index
    %tr
      %th ID
      %th Email
      %th First name
      %th Last name
      %th
      %th
      %th

    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.email
        %td= user.firstname
        %td= user.lastname
        %td.option
          = form_for Friendship.new do |t|
            = t.hidden_field :user_id, :value => @current_user.id
            = t.hidden_field :friend_id, :value => user.id
            = t.submit "Befriend"
        %td.option= link_to 'Show', user
        %td.option= link_to 'Edit', edit_user_path(user)
        %td.option= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete
