%p#notice= notice

%table
  %tr
    %th
      Email
    %td
      = @user.email
  %tr
    %th
      First name
    %td
      = @user.firstname
  %tr
    %th
      Last name
    %td
      = @user.lastname
    


= link_to 'Edit', edit_user_path(@current_user)
\|
= link_to 'Back', users_path

= render '/shared_articles/sharedarticles'
