%header#primary-header-wrapper
  %header#primary-header
    %hgroup
      %h1
        THE PROJECT
    %nav
      %ul
        - if @current_user.present?
          %li
            %span#share-this-button Share an Article
          %li
            %span#users-button Users
          %li
            = link_to "My Page ", :controller => "users", :action => :show, :id => @current_user.id
          %li
            = link_to "My Saved ", :controller => "saved_articles", :action => :index, :id => @current_user.id
          %li
            = link_to "My Sent ", :controller => "shared_articles", :action => :sent, :id => @current_user.id
          %li
            = link_to "Edit Info ", :controller => "users", :action => :edit, :id => @current_user.id

          %li
            = link_to "Log Out", :controller => "sessions", :action => :destroy
        - else
          %li
            = link_to "Log In", :controller => "sessions", :action => :new
          %li
            = link_to "Sign Up", :controller => "users", :action => :new