.x-box-lightbox x
%h1.share-an-article-header Share an Article
%h3#article-title
  = link_to @article.title, @article.url if @article.present?
%p#notice
= form_tag "/shared_articles", :remote => true, :id => "new_shared_article", :method => "post" do
  -if @shared_article.present? && @shared_article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@shared_article.errors.count, "error")} prohibited this article from being shared:"
      %ul
        - @shared_article.errors.full_messages.each do |msg|
          %li= msg

  %table
    %tr
      %th
        = label_tag :url
      %td
        = text_field_tag :url, @article ? @article.url : ""
    %tr
      %th
        = label_tag :share_with
      %td
        = text_field_tag :share_with, ""
        = hidden_field_tag :users, @shared_with ? @shared_with.id : ""
    %tr
      %th
      %td
        %ul#shared_with
          %li= @user.firstname + @user.lastname if @user 
    %tr
      %th
        = label_tag :blurb
      %td
        = text_area_tag :blurb
    .field
      = hidden_field_tag :user_id, @current_user ? @current_user.id : 1
      = hidden_field_tag :article_id, @article ? @article.id : ""
    %tr
      %td
      %td
        = submit_tag 'Share', :class => "submit", :id => "share-an-article-button"
