= form_for @shared_article do |f|
  -if @shared_article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@shared_article.errors.count, "error")} prohibited this shared_article from being saved:"
      %ul
        - @shared_article.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :blurb
    = f.text_area :blurb
  .actions
    = f.submit 'Save'
