%h1 Listing shared_articles

%table
  %tr
    %th Blurb
    %th
    %th
    %th

  - @shared_articles.each do |shared_article|
    %tr
      %td= shared_article.blurb
      %td= link_to 'Show', shared_article
      %td= link_to 'Edit', edit_shared_article_path(shared_article)
      %td= link_to 'Destroy', shared_article, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Shared article', new_shared_article_path
