<!doctype html>
%html
  %head
    %title
      COURI.ER
    = stylesheet_link_tag "application", "jquery-ui-1.8.17.custom"
    = javascript_include_tag "application", "jquery-ui"
    = csrf_meta_tags
    
  %body
    #users-gloss
    #share-this-gloss
    
    #page-wrapper
      #page
      
        = render :partial => "shared/share_this_lightbox"
        = render :partial => "shared/users_lightbox"
    
        = render :partial => "shared/primary_header"

  
        %section#main-area-wrapper
          %section#main-area  
            
            = yield
