<!doctype html>
%html
  %head
    %title
      THE PROJECT
    = stylesheet_link_tag "application", "jquery-ui-1.8.17.custom"
    = javascript_include_tag "application", "jquery-ui"
    = csrf_meta_tags
    
  %body
    = render :partial => "shared/share_this_lightbox"
    = render :partial => "shared/users_lightbox"
    
    #page-wrapper
      #page
    
        = render :partial => "shared/primary_header"

  
        %section#main-area-wrapper
          %section#main-area  
            
            = yield
